<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> RSS Feed Reader </title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <!-- Navigation bar at the top of all of the pages -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">RSS Feed Reader</a>
            <div>
                <a href="/sources">Sources</a> |
                <a href="/">Home</a>
            </div>
        </nav>
    </header>
</body>
</html>