<!doctype html>
<html>
  <head>
      <title>RSS Feed Reader</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/base.css">
  </head>
  <body>
      <div class="container">
           {% block content %}{% endblock %}
      </div>


        <!-- Side navigation -->
        <div class="sidenav">
            <a href="/">Home</a>
            <a href="/sources">Sources</a>
                  <button class="dropdown-btn">Feeds &nbsp &nbsp &nbsp &nbsp &nbsp ▼
                  </button>
                  <div class="dropdown-container">
                      {% for source in sources %}
                      <source>
                      <a href="/sort/{{ source.id }}">
                          {{ source.title }}
                      </a>
                      {% endfor %}
                  </div>
                </div>
                <script>
                /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
                var dropdown = document.getElementsByClassName("dropdown-btn");
                var i;

                for (i = 0; i < dropdown.length; i++) {
                  dropdown[i].addEventListener("click", function() {
                  this.classList.toggle("active");
                  var dropdownContent = this.nextElementSibling;
                  if (dropdownContent.style.display === "block") {
                  dropdownContent.style.display = "none";
                  } else {
                  dropdownContent.style.display = "block";
                  }
                  });
                }
                </script>
    </div>
  </body>
</html>