
{% extends "base.html" %}

{% block content %}
        <title>Sorted Articles</title>
        <link rel="stylesheet" type="text/css" href="../static/home.css">
    </head>
    <body>
        <main>
            <h1 id="toptitle">{{ articles[0].source.title }}</h1>
            {% for article in articles %}
            <article>
                <h1>
                    <a href="/read/{{ article.id }}">{{ article.title }}</a>
                </h1>
                <div class="source">
                    <a href="{{ article.source.link }}">
                        {{ article.source.title }}
                    </a>
                </div>
                <div class="added">
                    {{ article.date_published }}
                </div>
                <div class="body">
                    {{ article.body }}
                </div>
            </article>
            {% endfor %}
            </div>
        </main>
    </body>
</html>
{% endblock %}